body {
    background: lightgray;
}

nav {
    background: #636363;
    height: 12.5vh;

}

section {
    background: #EFEFEF;
    height: 75vh;
    width: 75%;
    margin: 0 auto;
}

footer {
    background: black;
    height: 12.5vh;
    width: 75%;
    margin: 0 auto;
}